<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demodatabase">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.demodatabase.RoomActivity" android:label="Banco de Dados com Room"></activity>
        <activity android:name="com.example.demodatabase.SqlActivity" android:label="Vou folgar - SQLite" />
        <activity android:name="com.example.demodatabase.SharedPrefsActivity" android:label="Demo SharedPreferences" />
        <activity android:name="com.example.demodatabase.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>